</b> imports and connect to database

In [2]:
import psycopg2
import pandas as pd
import matplotlib as plt
DBNAME = "opportunity_youth"
conn = psycopg2.connect(dbname=DBNAME)

</b> fetch the relevant records from the pums_2017 table

In [5]:
#fething oportunity youth in south king county

skc_OY_db = pd.read_sql('''
        SELECT *
        FROM pums_2017
        WHERE puma SIMILAR TO '1161(0|1|2|3|4|5)'
        AND agep >= 16
        AND agep <= 24
        AND sch = '1'
        AND esr SIMILAR TO '%(3|6)%'
        
''', conn)
skc_OY_db

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
0,P,2013000118713,9,03,11613,4,53,1061971,25.0,23.0,...,26.0,25.0,29.0,6.0,24.0,26.0,25.0,41.0,24.0,43.0
1,P,2013000121584,9,02,11611,4,53,1061971,19.0,18.0,...,17.0,21.0,32.0,17.0,5.0,12.0,7.0,4.0,30.0,21.0
2,P,2013000128172,9,01,11612,4,53,1061971,118.0,23.0,...,117.0,171.0,181.0,52.0,106.0,143.0,111.0,32.0,94.0,168.0
3,P,2013000155051,9,03,11614,4,53,1061971,2.0,19.0,...,1.0,3.0,3.0,1.0,2.0,2.0,1.0,0.0,1.0,2.0
4,P,2013000166503,9,03,11610,4,53,1061971,41.0,21.0,...,54.0,72.0,37.0,58.0,11.0,11.0,37.0,48.0,45.0,71.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,P,2013000067168,9,03,11615,4,53,1061971,22.0,24.0,...,7.0,20.0,24.0,23.0,41.0,7.0,24.0,24.0,33.0,19.0
387,P,2013000070516,9,03,11612,4,53,1061971,20.0,19.0,...,37.0,20.0,15.0,32.0,6.0,14.0,5.0,6.0,16.0,18.0
388,P,2013000100470,9,04,11613,4,53,1061971,16.0,18.0,...,23.0,3.0,16.0,17.0,11.0,12.0,32.0,29.0,20.0,11.0
389,P,2013000106284,9,01,11614,4,53,1061971,4.0,23.0,...,4.0,5.0,4.0,6.0,8.0,5.0,5.0,1.0,1.0,3.0
390,P,2013000111689,9,05,11610,4,53,1061971,40.0,19.0,...,61.0,12.0,51.0,12.0,13.0,41.0,37.0,52.0,32.0,36.0

In [8]:
#fetching all residents from south king county within the OY age group

skc_allRes_db = pd.read_sql('''
        SELECT *
        FROM pums_2017
        WHERE puma SIMILAR TO '1161(0|1|2|3|4|5)'
        AND agep >= 16
        AND agep <= 24
''', conn)
skc_allRes_db

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
0,P,2013000115983,9,03,11614,4,53,1061971,4.0,16.0,...,4.0,2.0,4.0,5.0,6.0,8.0,0.0,1.0,7.0,8.0
1,P,2013000115983,9,06,11614,4,53,1061971,7.0,24.0,...,6.0,2.0,7.0,8.0,15.0,13.0,2.0,1.0,9.0,11.0
2,P,2013000118713,9,03,11613,4,53,1061971,25.0,23.0,...,26.0,25.0,29.0,6.0,24.0,26.0,25.0,41.0,24.0,43.0
3,P,2013000121584,9,02,11611,4,53,1061971,19.0,18.0,...,17.0,21.0,32.0,17.0,5.0,12.0,7.0,4.0,30.0,21.0
4,P,2013000121584,9,03,11611,4,53,1061971,18.0,18.0,...,17.0,21.0,32.0,18.0,5.0,11.0,7.0,3.0,30.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3477,P,2013000106963,9,03,11612,4,53,1061971,24.0,16.0,...,7.0,25.0,38.0,23.0,7.0,25.0,31.0,19.0,34.0,9.0
3478,P,2013000102767,9,03,11615,4,53,1061971,17.0,22.0,...,27.0,18.0,18.0,16.0,26.0,5.0,5.0,5.0,4.0,17.0
3479,P,2013000103566,9,03,11611,4,53,1061971,20.0,17.0,...,37.0,18.0,32.0,4.0,17.0,28.0,40.0,18.0,21.0,19.0
3480,P,2013000106284,9,01,11614,4,53,1061971,4.0,23.0,...,4.0,5.0,4.0,6.0,8.0,5.0,5.0,1.0,1.0,3.0
3481,P,2013000111689,9,05,11610,4,53,1061971,40.0,19.0,...,61.0,12.0,51.0,12.0,13.0,41.0,37.0,52.0,32.0,36.0

In [9]:
#checking percentage of 16-24 year olds in skc who qualify as OY
#output is: percentage | # of OY in SKC | # of 16-24 year olds in SKC

print((sum(skc_OY_db['pwgtp'])/sum(skc_allRes_db['pwgtp']))*100, sum(skc_OY_db['pwgtp']), sum(skc_allRes_db['pwgtp']))

12.358674009990334 10614.0 85883.0