In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
from src.data import data_collection

In [4]:
data_collection.download_data_and_load_into_sql()

DuplicateDatabase: database "opportunity_youth" already exists

In [5]:
import psycopg2
import pandas as pd

In [6]:
DBNAME = "opportunity_youth"

In [7]:
conn = psycopg2.connect(dbname=DBNAME)

In [8]:
pd.read_sql('''SELECT * 
               FROM pums_2017 PS
               JOIN puma_names_2010 PN
               ON PS.puma = PN.puma
               WHERE PS.puma SIMILAR TO '1161(0|1|2|3|4|5)'
               AND PS.agep >= 16 
               AND PS.agep <= 24
               AND PS.sch = '1'
               AND PS.dis = '2'
               AND PS.esr SIMILAR TO '%(3|6)%'
               ;''', conn)

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp78,pwgtp79,pwgtp80,state_fips,state_name,cpuma0010,puma,geoid,gisjoin,puma_name
0,P,2013000100470,9,04,11613,4,53,1061971,16.0,18.0,...,29.0,20.0,11.0,53,Washington ...,1044,11613,5311613,G53011613,King County (Southwest Central)--Kent City ...
1,P,2013000047506,9,04,11615,4,53,1061971,5.0,20.0,...,1.0,6.0,1.0,53,Washington ...,1044,11615,5311615,G53011615,"King County (Southeast)--Maple Valley, Covingt..."
2,P,2013000048962,9,05,11612,4,53,1061971,25.0,22.0,...,9.0,39.0,7.0,53,Washington ...,1046,11612,5311612,G53011612,"King County (Far Southwest)--Federal Way, Des ..."
3,P,2013000057563,9,05,11611,4,53,1061971,20.0,21.0,...,33.0,33.0,18.0,53,Washington ...,1045,11611,5311611,G53011611,"King County (West Central)--Burien, SeaTac, Tu..."
4,P,2013000058010,9,02,11614,4,53,1061971,45.0,17.0,...,48.0,51.0,54.0,53,Washington ...,1044,11614,5311614,G53011614,King County (Southwest)--Auburn City & Lakelan...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,P,2017001244336,9,07,11613,4,53,1011189,42.0,21.0,...,64.0,39.0,36.0,53,Washington ...,1044,11613,5311613,G53011613,King County (Southwest Central)--Kent City ...
318,P,2017001295574,9,03,11611,4,53,1011189,18.0,17.0,...,6.0,29.0,5.0,53,Washington ...,1045,11611,5311611,G53011611,"King County (West Central)--Burien, SeaTac, Tu..."
319,P,2017001373291,9,02,11610,4,53,1011189,14.0,22.0,...,19.0,17.0,4.0,53,Washington ...,1044,11610,5311610,G53011610,"King County (Central)--Renton City, Fairwood, ..."
320,P,2017001366540,9,05,11613,4,53,1011189,21.0,23.0,...,6.0,20.0,24.0,53,Washington ...,1044,11613,5311613,G53011613,King County (Southwest Central)--Kent City ...
321,P,2017001464049,9,01,11613,4,53,1011189,18.0,21.0,...,18.0,19.0,20.0,53,Washington ...,1044,11613,5311613,G53011613,King County (Southwest Central)--Kent City ...

In [9]:
pd.read_sql('''SELECT * FROM puma_names_2010
               WHERE puma_name LIKE '%King County%';''', conn)

,state_fips,state_name,cpuma0010,puma,geoid,gisjoin,puma_name
0,53,Washington ...,1044,11606,5311606,G53011606,"King County (Northwest)--Shoreline, Kenmore & ..."
1,53,Washington ...,1044,11607,5311607,G53011607,"King County (Northwest)--Redmond, Kirkland Cit..."
2,53,Washington ...,1044,11608,5311608,G53011608,King County (Northwest Central)--Greater Belle...
3,53,Washington ...,1044,11609,5311609,G53011609,"King County (Central)--Sammamish, Issaquah, Me..."
4,53,Washington ...,1044,11610,5311610,G53011610,"King County (Central)--Renton City, Fairwood, ..."
5,53,Washington ...,1044,11613,5311613,G53011613,King County (Southwest Central)--Kent City ...
6,53,Washington ...,1044,11614,5311614,G53011614,King County (Southwest)--Auburn City & Lakelan...
7,53,Washington ...,1044,11615,5311615,G53011615,"King County (Southeast)--Maple Valley, Covingt..."
8,53,Washington ...,1044,11616,5311616,G53011616,"King County (Northeast)--Snoqualmie City, Cott..."
9,53,Washington ...,1045,11611,5311611,G53011611,"King County (West Central)--Burien, SeaTac, Tu..."
10,53,Washington ...,1046,11612,5311612,G53011612,"King County (Far Southwest)--Federal Way, Des ..."

In [10]:
pd.read_sql("SELECT * FROM wa_jobs_2017 LIMIT 10;", conn)

,w_geocode,c000,ca01,ca02,ca03,ce01,ce02,ce03,cns01,cns02,...,cfa02,cfa03,cfa04,cfa05,cfs01,cfs02,cfs03,cfs04,cfs05,createdate
0,530019501001010,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
1,530019501001024,1,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
2,530019501001026,1,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
3,530019501001044,1,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
4,530019501001053,2,0,2,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
5,530019501001061,7,1,3,3,0,5,2,7,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
6,530019501001090,2,0,2,0,0,2,0,2,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
7,530019501001099,1,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
8,530019501001104,1,0,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
9,530019501001112,4,1,2,1,0,2,2,4,0,...,0,0,0,0,0,0,0,0,0,2019-08-25

In [11]:
pd.read_sql('''SELECT * FROM wa_geo_xwalk
               WHERE ctyname = 'King County, WA'
               LIMIT 10;''', conn)

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,...,stanrcname,necta,nectname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
0,530330325001075,53,WA,Washington ...,53033,"King County, WA ...",53033032500,"325 (King, WA) ...",530330325001,"1 (Tract 325, King, WA) ...",...,None,99999,None,None,None,53000005,05 Seattle/King County WIB ...,47.690229,-121.715711,2019-08-26
1,530330328003235,53,WA,Washington ...,53033,"King County, WA ...",53033032800,"328 (King, WA) ...",530330328003,"3 (Tract 328, King, WA) ...",...,None,99999,None,None,None,53000005,05 Seattle/King County WIB ...,47.707243,-121.626151,2019-08-26
2,530330297003059,53,WA,Washington ...,53033,"King County, WA ...",53033029700,"297 (King, WA) ...",530330297003,"3 (Tract 297, King, WA) ...",...,None,99999,None,None,None,53000005,05 Seattle/King County WIB ...,47.369791,-122.241507,2019-08-26
3,530330270002001,53,WA,Washington ...,53033,"King County, WA ...",53033027000,"270 (King, WA) ...",530330270002,"2 (Tract 270, King, WA) ...",...,None,99999,None,None,None,53000005,05 Seattle/King County WIB ...,47.501092,-122.324844,2019-08-26
4,530339901000053,53,WA,Washington ...,53033,"King County, WA ...",53033990100,"9901 (King, WA) ...",530339901000,"0 (Tract 9901, King, WA) ...",...,None,99999,None,None,None,53000005,05 Seattle/King County WIB ...,47.483771,-122.378470,2019-08-26
5,530330267004018,53,WA,Washington ...,53033,"King County, WA ...",53033026700,"267 (King, WA) ...",530330267004,"4 (Tract 267, King, WA) ...",...,None,99999,None,None,None,53000005,05 Seattle/King County WIB ...,47.488466,-122.365731,2019-08-26
6,530330276002004,53,WA,Washington ...,53033,"King County, WA ...",53033027600,"276 (King, WA) ...",530330276002,"2 (Tract 276, King, WA) ...",...,None,99999,None,None,None,53000005,05 Seattle/King County WIB ...,47.487632,-122.369284,2019-08-26
7,530330276003004,53,WA,Washington ...,53033,"King County, WA ...",53033027600,"276 (King, WA) ...",530330276003,"3 (Tract 276, King, WA) ...",...,None,99999,None,None,None,53000005,05 Seattle/King County WIB ...,47.472702,-122.370277,2019-08-26
8,530330283003052,53,WA,Washington ...,53033,"King County, WA ...",53033028300,"283 (King, WA) ...",530330283003,"3 (Tract 283, King, WA) ...",...,None,99999,None,None,None,53000005,05 Seattle/King County WIB ...,47.429948,-122.272653,2019-08-26
9,530330283003079,53,WA,Washington ...,53033,"King County, WA ...",53033028300,"283 (King, WA) ...",530330283003,"3 (Tract 283, King, WA) ...",...,None,99999,None,None,None,53000005,05 Seattle/King County WIB ...,47.419854,-122.267128,2019-08-26

In [12]:
pd.read_sql("SELECT * FROM ct_puma_xwalk LIMIT 10;", conn)

  statefp countyfp tractce puma5ce
0      01      001  020100   02100
1      01      001  020200   02100
2      01      001  020300   02100
3      01      001  020400   02100
4      01      001  020500   02100
5      01      001  020600   02100
6      01      001  020700   02100
7      01      001  020801   02100
8      01      001  020802   02100
9      01      001  020900   02100

In [17]:
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
%matplotlib inline

In [18]:
file_name = "tl_2017_53033_roads.shp"

In [19]:
king_county = gpd.read_file(file_name)

DriverError: tl_2017_53033_roads.shp: No such file or directory