<B> establish connection with database </B>

In [1]:
import psycopg2
import pandas as pd
DBNAME = "opportunity_youth"
conn = psycopg2.connect(dbname=DBNAME)

<b> get table names

In [5]:
pd.read_sql('''SELECT table_name
                FROM information_schema.tables
                WHERE table_schema = 'public';
            ''', conn)

        table_name
0        pums_2017
1  puma_names_2010
2     wa_jobs_2017
3     wa_geo_xwalk
4    ct_puma_xwalk

<b> check the head of each table

In [21]:
#pums_2017 head
#var name descriptions found in pums_data_dictionary_2017.pdf
#esr = employment status recode
#agep = age
#sch = school enrollment
#jwmnp = travel time to work in minutes
#dis = disability

pd.read_sql('''
        SELECT esr
        FROM pums_2017
        LIMIT 10
''', conn)

,rt,serialno,division,sporder,puma,region,st,adjinc,pwgtp,agep,...,pwgtp71,pwgtp72,pwgtp73,pwgtp74,pwgtp75,pwgtp76,pwgtp77,pwgtp78,pwgtp79,pwgtp80
0,P,2013000000006,9,01,11606,4,53,1061971,27.0,68.0,...,53.0,24.0,39.0,24.0,7.0,27.0,8.0,46.0,25.0,50.0
1,P,2013000000006,9,02,11606,4,53,1061971,22.0,66.0,...,49.0,21.0,38.0,20.0,7.0,25.0,8.0,41.0,22.0,47.0
2,P,2013000000012,9,01,10100,4,53,1061971,22.0,72.0,...,24.0,22.0,25.0,7.0,21.0,35.0,6.0,22.0,6.0,37.0
3,P,2013000000012,9,02,10100,4,53,1061971,19.0,64.0,...,21.0,18.0,19.0,7.0,17.0,29.0,6.0,19.0,6.0,29.0
4,P,2013000000038,9,01,11505,4,53,1061971,4.0,52.0,...,4.0,1.0,2.0,8.0,8.0,1.0,4.0,6.0,1.0,4.0
5,P,2013000000038,9,02,11505,4,53,1061971,4.0,51.0,...,4.0,1.0,1.0,8.0,7.0,1.0,4.0,7.0,2.0,4.0
6,P,2013000000038,9,03,11505,4,53,1061971,7.0,18.0,...,5.0,2.0,3.0,14.0,12.0,2.0,8.0,13.0,3.0,6.0
7,P,2013000000070,9,01,10400,4,53,1061971,15.0,59.0,...,26.0,14.0,14.0,26.0,15.0,16.0,33.0,16.0,15.0,15.0
8,P,2013000000070,9,02,10400,4,53,1061971,18.0,56.0,...,27.0,15.0,16.0,30.0,14.0,18.0,38.0,17.0,17.0,14.0
9,P,2013000000082,9,01,11615,4,53,1061971,90.0,40.0,...,119.0,152.0,33.0,30.0,100.0,77.0,115.0,85.0,114.0,29.0

In [30]:
#pums_2017 column names
column_names = pd.read_sql('''
SELECT column_name, data_type
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'pums_2017'
ORDER BY ordinal_position
''', conn)
pd.set_option('display.max_rows', column_names.shape[0] + 1)
column_names

    column_name  data_type
0            rt  character
1      serialno  character
2      division  character
3       sporder  character
4          puma  character
5        region  character
6            st  character
7        adjinc  character
8         pwgtp    numeric
9          agep    numeric
10          cit    numeric
11        citwp    numeric
12          cow  character
13         ddrs  character
14         dear  character
15         deye  character
16         dout  character
17         dphy  character
18         drat  character
19        dratx  character
20         drem  character
21          eng  character
22          fer  character
23          gcl  character
24          gcm  character
25          gcr  character
26        hins1  character
27        hins2  character
28        hins3  character
29        hins4  character
30        hins5  character
31        hins6  character
32        hins7  character
33         intp    numeric
34        jwmnp    numeric
35        jwrip    numeric
36         jwtr  character
37         lanx  character
38          mar  character
39        marhd  character
40        marhm  character
41        marht  character
42        marhw  character
43       marhyp    numeric
44          mig  character
45          mil  character
46         mlpa  character
47         mlpb  character
48        mlpcd  character
49         mlpe  character
50        mlpfg  character
51         mlph  character
52         mlpi  character
53         mlpj  character
54         mlpk  character
55         nwab  character
56         nwav  character
57         nwla  character
58         nwlk  character
59         nwre  character
60          oip    numeric
61          pap    numeric
62         relp  character
63         retp    numeric
64          sch  character
65         schg  character
66         schl  character
67         semp    numeric
68          sex  character
69         ssip    numeric
70          ssp    numeric
71         wagp    numeric
72         wkhp    numeric
73          wkl  character
74          wkw  character
75          wrk  character
76         yoep    numeric
77          anc  character
78        anc1p  character
79        anc2p  character
80       decade  character
81          dis  character
82      drivesp  character
83          esp  character
84          esr  character
85        fod1p  character
86        fod2p  character
87        hicov  character
88         hisp  character
89         indp  character
90         jwap  character
91         jwdp  character
92         lanp  character
93      migpuma  character
94        migsp  character
95          msp  character
96       naicsp  character
97     nativity  character
98          nop  character
99           oc  character
100        occp  character
101        paoc  character
102       pernp    numeric
103       pincp    numeric
104        pobp  character
105      povpip    numeric
106     powpuma  character
107       powsp  character
108     privcov  character
109      pubcov  character
110      qtrbir  character
111       rac1p  character
112       rac2p  character
113       rac3p  character
114     racaian  character
115      racasn  character
116      racblk  character
117       racnh  character
118      racnum  character
119       racpi  character
120      racsor  character
121      racwht  character
122          rc  character
123     sciengp  character
124   sciengrlp  character
125         sfn  character
126         sfr  character
127        socp  character
128         vps  character
129        waob  character
130       fagep  character
131       fancp  character
132       fcitp  character
133      fcitwp  character
134       fcowp  character
135      fddrsp  character
136      fdearp  character
137      fdeyep  character
138       fdisp  character
139      fdoutp  character
140      fdphyp  character
141      fdratp  character
142     fdratxp  character
143      fdremp  character
144       fengp  character
145       fesrp  character
146       fferp  character
147       ffodp  character
148       fgclp  character
149       fgcmp  character
150       fgcrp  character
151     fhicovp  character
152     fhins1p  character
153     fhins2p  character
154     fhins3c  character
155     fhins3p  character
156     fhins4c  character
157     fhins4p  character
158     fhins5c  character
159     fhins5p  character
160     fhins6p  character
161     fhins7p  character
162       fhisp  character
163       findp  character
164       fintp  character
165       fjwdp  character
166      fjwmnp  character
167      fjwrip  character
168      fjwtrp  character
169       flanp  character
170      flanxp  character
171       fmarp  character
172     fmarhdp  character
173     fmarhmp  character
174     fmarhtp  character
175     fmarhwp  character
176     fmarhyp  character
177       fmigp  character
178      fmigsp  character
179      fmilpp  character
180      fmilsp  character
181       foccp  character
182        foip  character
183        fpap  character
184      fpernp  character
185      fpincp  character
186       fpobp  character
187      fpowsp  character
188   fprivcovp  character
189    fpubcovp  character
190       fracp  character
191       frelp  character
192       fretp  character
193      fschgp  character
194      fschlp  character
195       fschp  character
196       fsemp  character
197       fsexp  character
198       fssip  character
199        fssp  character
200       fwagp  character
201       fwkhp  character
202       fwklp  character
203       fwkwp  character
204       fwrkp  character
205       fyoep  character
206      pwgtp1    numeric
207      pwgtp2    numeric
208      pwgtp3    numeric
209      pwgtp4    numeric
210      pwgtp5    numeric
211      pwgtp6    numeric
212      pwgtp7    numeric
213      pwgtp8    numeric
214      pwgtp9    numeric
215     pwgtp10    numeric
216     pwgtp11    numeric
217     pwgtp12    numeric
218     pwgtp13    numeric
219     pwgtp14    numeric
220     pwgtp15    numeric
221     pwgtp16    numeric
222     pwgtp17    numeric
223     pwgtp18    numeric
224     pwgtp19    numeric
225     pwgtp20    numeric
226     pwgtp21    numeric
227     pwgtp22    numeric
228     pwgtp23    numeric
229     pwgtp24    numeric
230     pwgtp25    numeric
231     pwgtp26    numeric
232     pwgtp27    numeric
233     pwgtp28    numeric
234     pwgtp29    numeric
235     pwgtp30    numeric
236     pwgtp31    numeric
237     pwgtp32    numeric
238     pwgtp33    numeric
239     pwgtp34    numeric
240     pwgtp35    numeric
241     pwgtp36    numeric
242     pwgtp37    numeric
243     pwgtp38    numeric
244     pwgtp39    numeric
245     pwgtp40    numeric
246     pwgtp41    numeric
247     pwgtp42    numeric
248     pwgtp43    numeric
249     pwgtp44    numeric
250     pwgtp45    numeric
251     pwgtp46    numeric
252     pwgtp47    numeric
253     pwgtp48    numeric
254     pwgtp49    numeric
255     pwgtp50    numeric
256     pwgtp51    numeric
257     pwgtp52    numeric
258     pwgtp53    numeric
259     pwgtp54    numeric
260     pwgtp55    numeric
261     pwgtp56    numeric
262     pwgtp57    numeric
263     pwgtp58    numeric
264     pwgtp59    numeric
265     pwgtp60    numeric
266     pwgtp61    numeric
267     pwgtp62    numeric
268     pwgtp63    numeric
269     pwgtp64    numeric
270     pwgtp65    numeric
271     pwgtp66    numeric
272     pwgtp67    numeric
273     pwgtp68    numeric
274     pwgtp69    numeric
275     pwgtp70    numeric
276     pwgtp71    numeric
277     pwgtp72    numeric
278     pwgtp73    numeric
279     pwgtp74    numeric
280     pwgtp75    numeric
281     pwgtp76    numeric
282     pwgtp77    numeric
283     pwgtp78    numeric
284     pwgtp79    numeric
285     pwgtp80    numeric

<b> filter puma_names_2010

In [64]:
#puma_names_2010 south king county


pd.read_sql('''
        SELECT *
        FROM puma_names_2010
        WHERE puma_name LIKE 'King County%'
''', conn)

,state_fips,state_name,cpuma0010,puma,geoid,gisjoin,puma_name
0,53,Washington ...,1044,11606,5311606,G53011606,"King County (Northwest)--Shoreline, Kenmore & ..."
1,53,Washington ...,1044,11607,5311607,G53011607,"King County (Northwest)--Redmond, Kirkland Cit..."
2,53,Washington ...,1044,11608,5311608,G53011608,King County (Northwest Central)--Greater Belle...
3,53,Washington ...,1044,11609,5311609,G53011609,"King County (Central)--Sammamish, Issaquah, Me..."
4,53,Washington ...,1044,11610,5311610,G53011610,"King County (Central)--Renton City, Fairwood, ..."
5,53,Washington ...,1044,11613,5311613,G53011613,King County (Southwest Central)--Kent City ...
6,53,Washington ...,1044,11614,5311614,G53011614,King County (Southwest)--Auburn City & Lakelan...
7,53,Washington ...,1044,11615,5311615,G53011615,"King County (Southeast)--Maple Valley, Covingt..."
8,53,Washington ...,1044,11616,5311616,G53011616,"King County (Northeast)--Snoqualmie City, Cott..."
9,53,Washington ...,1045,11611,5311611,G53011611,"King County (West Central)--Burien, SeaTac, Tu..."
10,53,Washington ...,1046,11612,5311612,G53011612,"King County (Far Southwest)--Federal Way, Des ..."

<b> from puma_2017 include only puma = 1161x where 0 <= x <= 5

In [51]:
#wa_jobs_2017
pd.read_sql('''
        SELECT *
        FROM wa_jobs_2017
        LIMIT 10
''', conn)

,w_geocode,c000,ca01,ca02,ca03,ce01,ce02,ce03,cns01,cns02,...,cfa02,cfa03,cfa04,cfa05,cfs01,cfs02,cfs03,cfs04,cfs05,createdate
0,530019501001010,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
1,530019501001024,1,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
2,530019501001026,1,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
3,530019501001044,1,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
4,530019501001053,2,0,2,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
5,530019501001061,7,1,3,3,0,5,2,7,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
6,530019501001090,2,0,2,0,0,2,0,2,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
7,530019501001099,1,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
8,530019501001104,1,0,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,2019-08-25
9,530019501001112,4,1,2,1,0,2,2,4,0,...,0,0,0,0,0,0,0,0,0,2019-08-25

In [16]:
#wa_geo_xwalk head
#documentation contained in LODESTechDoc
#this is a table containing cross walk data for the state of Washigton
#blklatdd = lattitude of block internal point
#blklondd = longitude of block internal point
pd.read_sql('''
        SELECT *
        FROM wa_geo_xwalk
        LIMIT 10
''', conn)

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,...,stanrcname,necta,nectname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
0,530630112024017,53,WA,Washington ...,53063,"Spokane County, WA ...",53063011202,"112.02 (Spokane, WA) ...",530630112024,"4 (Tract 112.02, Spokane, WA) ...",...,None,99999,None,None,None,53000012,12 Spokane WIB ...,47.716671,-117.354964,2019-08-26
1,530630105031024,53,WA,Washington ...,53063,"Spokane County, WA ...",53063010503,"105.03 (Spokane, WA) ...",530630105031,"1 (Tract 105.03, Spokane, WA) ...",...,None,99999,None,None,None,53000012,12 Spokane WIB ...,47.783324,-117.402801,2019-08-26
2,530630101001010,53,WA,Washington ...,53063,"Spokane County, WA ...",53063010100,"101 (Spokane, WA) ...",530630101001,"1 (Tract 101, Spokane, WA) ...",...,None,99999,None,None,None,53000012,12 Spokane WIB ...,48.044817,-117.170360,2019-08-26
3,530630101001014,53,WA,Washington ...,53063,"Spokane County, WA ...",53063010100,"101 (Spokane, WA) ...",530630101001,"1 (Tract 101, Spokane, WA) ...",...,None,99999,None,None,None,53000012,12 Spokane WIB ...,48.015862,-117.164765,2019-08-26
4,530630101001020,53,WA,Washington ...,53063,"Spokane County, WA ...",53063010100,"101 (Spokane, WA) ...",530630101001,"1 (Tract 101, Spokane, WA) ...",...,None,99999,None,None,None,53000012,12 Spokane WIB ...,48.012248,-117.162461,2019-08-26
5,530630113004017,53,WA,Washington ...,53063,"Spokane County, WA ...",53063011300,"113 (Spokane, WA) ...",530630113004,"4 (Tract 113, Spokane, WA) ...",...,None,99999,None,None,None,53000012,12 Spokane WIB ...,47.698614,-117.262875,2019-08-26
6,530630018001012,53,WA,Washington ...,53063,"Spokane County, WA ...",53063001800,"18 (Spokane, WA) ...",530630018001,"1 (Tract 18, Spokane, WA) ...",...,None,99999,None,None,None,53000012,12 Spokane WIB ...,47.679017,-117.373731,2019-08-26
7,530630023003017,53,WA,Washington ...,53063,"Spokane County, WA ...",53063002300,"23 (Spokane, WA) ...",530630023003,"3 (Tract 23, Spokane, WA) ...",...,None,99999,None,None,None,53000012,12 Spokane WIB ...,47.666345,-117.452497,2019-08-26
8,530630018001024,53,WA,Washington ...,53063,"Spokane County, WA ...",53063001800,"18 (Spokane, WA) ...",530630018001,"1 (Tract 18, Spokane, WA) ...",...,None,99999,None,None,None,53000012,12 Spokane WIB ...,47.675200,-117.390052,2019-08-26
9,530630023003025,53,WA,Washington ...,53063,"Spokane County, WA ...",53063002300,"23 (Spokane, WA) ...",530630023003,"3 (Tract 23, Spokane, WA) ...",...,None,99999,None,None,None,53000012,12 Spokane WIB ...,47.665443,-117.449826,2019-08-26

In [11]:
#ct_puma_xwalk
pd.read_sql('''
        SELECT *
        FROM ct_puma_xwalk
        LIMIT 10
''', conn)

  statefp countyfp tractce puma5ce
0      01      001  020100   02100
1      01      001  020200   02100
2      01      001  020300   02100
3      01      001  020400   02100
4      01      001  020500   02100
5      01      001  020600   02100
6      01      001  020700   02100
7      01      001  020801   02100
8      01      001  020802   02100
9      01      001  020900   02100

<b> return a database pums2017 filtered for OY in SKC

In [80]:
south_king_county_db = pd.read_sql('''
        SELECT *
        FROM pums_2017 PS
        WHERE PS.puma SIMILAR TO '1161(0|1|2|3|4|5)'
        AND PS.agep >= 16
        AND PS.agep <= 24
        AND PS.sch = '1'
        AND PS.esr SIMILAR TO '%(3|6)%'
        
''', conn)
sum(south_king_county_db['pwgtp'])

10614.0